.wrapper {
  padding-top: 30px;
  background-color: #171717;
  .top {
    padding-bottom: 10px;
    border-bottom: 1px solid #373434;
    margin-bottom: 40px;
  }
  .logoWrap {
    width: 306px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    .logo {
      width: 223px;
      height: 70px;
    }
    @media (max-width: 1199.98px) {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  .inputWrap {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 1199.98px) {
      justify-content: flex-start;
    }
    @media (max-width: 800px) {
      justify-content: center;
    }
    .input {
      background-color: transparent;
      border: 1px solid transparent;
      border-bottom-color: #e4e4e447;
      outline: none;
      color: #5c5c5c;
      padding: 14px 28px;
      width: 381px;
      transition: all ease-in-out 0.25s;
      font-size: 14px;
      &:focus {
        border-color: var(--color-violet);
        color: #fff;
      }
      @media (max-width: 575.98px) {
        width: 100%;
      }
    }
    .icon {
      font-size: 18px;
      color: #fff;
      cursor: pointer;
      transition: var(--transition-default);
      &:hover {
        color: var(--color-violet);
      }
    }
  }
  .social {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 306px;
    @media (max-width: 1199.98px) {
      justify-content: flex-end;
    }
    @media (max-width: 800px) {
      width: 100%;
      justify-content: center;
      margin-top: 20px;
    }
    .icon {
      font-size: 20px;
      color: #fff;
      transition: var(--transition-default);
      &:hover {
        color: var(--color-violet);
      }
    }
  }
  .middle {
    margin-bottom: 30px;
    .title {
      color: #ffffff;
      font-weight: 700;
      line-height: 1.4em;
      font-size: 18px;
      margin-bottom: 20px !important;
    }
    .text,
    .icon,
    .arrow {
      transition: var(--transition-default);
      color: #5c5c5c;
    }
    .arrow {
      font-size: 11px;
    }
    .icon {
      font-size: 16px;
    }
    .hoverItem {
      cursor: pointer;
      &:hover {
        .text,
        .arrow {
          color: var(--color-violet);
        }
      }
    }
  }
  .bottom {
    text-align: center;
    background-color: #1a1a1a;
    padding: 15px 0;
    .text {
      padding: 0 10px;
      border-right: 1px solid #5c5c5c;
      span {
        color: #5c5c5c;
        transition: var(--transition-default);
        &:hover {
          color: var(--color-violet);
        }
      }
      &:last-child {
        border: none;
      }
    }
  }
  .add {
    background-color: var(--color-violet);
    padding: 20px 0;
  }
  .text {
    color: #fff;
  }
}
