.wrapper {
  .creditCard {
    .titleGroup {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 17px;
      border: 1px solid var(--color-violet);
      border-radius: 8px 8px 0 0;
    }
    .form {
      padding: 17px;
      border: 1px solid #ccc;
      background-color: #f5f5f5;
    }
  }
}
